<section id="site-intro-about">
  {{ with .Site.Params.intro.pic }}<a style="border-bottom:solid 1px transparent;" href="{{ "/" | relLangURL}}"><img src="{{ .src | relURL }}" class="{{ .shape }}" width="{{ .width }}" alt="{{ .alt }}" /></a>{{ end }}
  <header>
    {{ with .Site.Params.intro.header }}<h1>{{ . | safeHTML }}</h1>{{ end }}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Pacifico:300,400,600,700&amp;lang=en" />
  </header>
  <main>


    
<br>    

<script>
var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
  document.body.appendChild(css);
};  
  
  
</script>


    

<span class="shadow zac">Zac </span><span class="shadow garland">Garland</span>

<br><br>

<h2>
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "developer.", "investor.", "data scientist."]'></span>
</h2>
    
    
  
  </main>
  {{ if or (.Site.Params.intro.rssIntro) (.Site.Params.intro.socialIntro) }}
    <footer style="position: relative; z-index: 1;">
      <ul class="socnet-icons">
        {{ if .Site.Params.intro.rssIntro }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.intro.socialIntro }}{{ partial "socnet-icon" . }}{{ end }}
      </ul>
    </footer>
  {{ end }}
</section>
