<section style ="background:#2f4f4faa;min-height:400px;display:flex;padding:50px">
  <div class="zg-container">
    <div style="width: 90%; margin: auto;">


<div class="row">


    <div class="col-lg-4 text-center">
      <i class="fas fa-circle fas fa-code skills-logo"></i>
      <h4>Developer</h4>
      <p> 
        analytics applications (shiny)<br>
        html presentations (html, css, js)<br>
        R packages (R,Rstudio)<br>
      </p>
    </div>


    <div class="col-lg-4 text-center">
      <i class="fas fa-chart-line skills-logo"></i>
      <h4>Investor</h4>
      <p> 
        factor models (alpha & risk)<br>
        quant portfolio management<br>
        active investor<br>
      </p>
    
    </div>
    
    <div class="col-lg-4 text-center">
      <i class="fab fa-react skills-logo"></i>
      <h4>Data Scientist</h4>
      <p> 
        machine learning<br>
        statistical modeling<br>
        data visualization<br>
      </p>    
    </div>





  
  
<!-- end row -->  
</div>



</div>
</div>
</section>






<section style ="background:#000000;min-height:400px;display:flex;padding:50px">
  <div class="zg-container">
    <div style="width: 90%; margin: auto;">
      
      
      
      
      
      
      <div class="row" style = "">
      
      <div class="col-md-5 text-center" style ="margin:auto;">
        {{ with .Site.Params.intro.pic }}<a href="{{ "/" | relLangURL}}"><img src="{{ .mtn_src | relURL }}" class="{{ .square }}" width="85%" alt="{{ .alt }}" /></a>{{ end }}
      </div>
      
      <div class="col-md-7 text-center text-md-left" style="margin:auto;">
      
<div style="text-transform: lowercase;color:#ffffff;">
<h1>Hi, I'm Zac! </h1>
<hr>
<p>


a self taught developer, investor, and data scientist. <br><br>

Outside of work, I'm a mountain man. I live in Breckenridge, Colorado & can usually be found with my pup (winston) knee deep in a river, up a mountain, or walking around town. 

I have a degree in finance & led a few non-profits during college. the most successful endeavor, <a href="https://youtu.be/48mSJeCulIk" style="color:#2ebaae;">bears go bald</a>, raised over $60,000 for children's cancer research.<br><br>

<!-- bill gates and warren buffett serve the world in a way i aspire to; spending the first half of their lives accumulating wealth, & the second half giving it all away. -->

Professionally, I'm an associate engineer @ Mastercard. i'm part of their economics institute & mainly focus on data science & web development.
recently i've been working on a macroeconomic recession model & an html business proposal for the c-suite. previously, I was a consultant at FactSet
where I worked with institutional asset managers on their quant workflows.  

you can learn more about my coding journey <a href="/blog/what-got-me-into-coding/">here</a>.

feel free to <a href="/contact" style="color:#2ebaae;">contact me</a> about equity research, data science, or future opportunities. 
</p>
<hr>
</div>
<div style="width:80%;margin:auto;">
<div class="cool-icons">
<ul class="socnet-icons">
  {{ if .Site.Params.intro.rssIntro }}{{ partial "rss-icon" . }}{{ end }}
  {{ if .Site.Params.intro.socialIntro }}{{ partial "socnet-icon" . }}{{ end }}
<li><a href="/contact" class="fas fa-envelope"></a></li>
</ul>
</div>  

<br><br>
</div>
<!-- end -->
</div>

</div>


        
    


</div>
</div>
</section>


